streamlit
pandas
numpy
sqlalchemy
psycopg2-binary
redshift-connector
openai
altair
gspread
gspread-dataframe
oauth2client
requests
python-dateutil
tqdm
google-auth
google-auth-oauthlib
google-auth-httplib2
pymongo
